/* App.css */
.tarjeta {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin: 20px auto;
}

.tarjeta:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 50px auto;
}

input {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
